.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding-top: 10px; /* Adjust based on the height of your titlebar */
    padding-bottom: 40px; /* Adjust based on the height of your footer */
}

