body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2e2e2e;
}

.landing-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 20px;
    color: #fff;
}

.landing-card {
    background-color: #212121;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    /* or any height you prefer */
}

.landing-card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.landing-card h2 {
    margin: 0;
    color: #fff;
}