/* Centering the set password form */
.container2 {
    color: white;
    background: url('../assets/pexels-jovydas-2462015.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    /* Add padding for smaller screens */
    box-sizing: border-box;
}

.form2 {
    background-color: rgba(51, 51, 51, 0.8);
    /* Semi-transparent #333 */
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Form elements */
.title2 {
    color: white;
    margin-bottom: 20px;
}

.form-group2 {
    margin-bottom: 20px;
    position: relative;
}

.form-group2 label {
    display: block;
    color: white;
    margin-bottom: 5px;
    text-align: left;
}

.password-input-container {
    position: relative;
}

.form-control2 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    font-size: 18px;
    height: 40px;
}

.password-eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
    font-size: 20px;
}

.submit-button2 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
    font-size: 22px;
}

.submit-button2:hover {
    background-color: white;
    color: black;
}

.message2 {
    color: white;
    margin-top: 10px;
}

.message2.success {
    color: lightgreen;
}

.message2.error {
    color: red;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form2 {
        padding: 20px;
        max-width: 90%;
        /* Adjust width for smaller screens */
    }

    .title2 {
        font-size: 1.5rem;
        /* Adjust heading size for smaller screens */
    }

    .form-control2 {
        padding: 8px;
        font-size: 14px;
        /* Adjust input font size for smaller screens */
    }

    .submit-button2 {
        padding: 8px;
        font-size: 14px;
        /* Adjust button font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .form2 {
        padding: 15px;
        max-width: 100%;
        /* Ensure form fits within very small screens */
    }

    .title2 {
        font-size: 1.2rem;
        /* Further adjust heading size for very small screens */
    }

    .form-control2 {
        padding: 6px;
        font-size: 12px;
        /* Further adjust input font size for very small screens */
    }

    .submit-button2 {
        padding: 6px;
        font-size: 12px;
        /* Further adjust button font size for very small screens */
    }
}