.titlebar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 8px 10px;
  box-shadow: 0px 4px 2px -2px gray;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 60px; /* Adjust size as needed */
  margin-right: 20px;
  border-radius: 40px;
}

.title-center {
  margin: 0 auto;
  font-size: 2rem;
  cursor: pointer;
}

.title-left {
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
}

/* Centered layout for landing and login pages */
.titlebar.centered {
  justify-content: center;
}

/* Dashboard layout */
.titlebar.dashboard {
  justify-content: space-between;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .titlebar {
    padding: 10px;
  }

  .title-center,
  .title-left {
    font-size: 1.5rem;
  }

  .logo {
    height: 30px;
  }
}
