.titlebar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 0px 4px 2px -2px gray;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.titlebar.centered {
  justify-content: center;
}

.titlebar.dashboard {
  justify-content: space-between;
}

.titlebar h1#title {
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .titlebar {
    padding: 10px;
  }

  .titlebar h1#title {
    font-size: 1.5rem;
  }
}
