.titlebar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .titlebar-link {
    text-decoration: none;
    color: inherit;
  }
  
  .titlebar-link:hover {
    text-decoration: none;
  }
  
  /* Add a margin-top to the main content to avoid overlap with the fixed header */
  .main-content {
    margin-top: 60px; /* Adjust this value based on the height of your titlebar */
  }
  

/* #title{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000
    
} */